<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
	pageEncoding="ISO-8859-1"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>OAT</title>
</head>
<body>
	<center>
		<h2>Welcome to Operations Automation Tool</h2>
		<form action="RejectOperation">

			Txn_ID:<input type="text" name="txnNumber" th:value=${txnNumber}>

			Reason for rejection:<input type="text" name="reason" >

			<br> <br> <br> <input type="submit" value="Submit">
		</form>
	</center>
</body>
</html>