<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>COAT</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>

<body>
	<h2>Compliance and Operations Automation Tool</h2>
	<div class="container shadow-lg mt-5 pt-3 pb-3 rounded background">

		<form action="setPassword" class="form-group form-control">
			
			<div class="row mt-3">
				<div class="col-3 text-right">Email:</div>
				<div class="col-9">
					<input type="text" name="email" readonly="readonly" th:value="${email}" class="form-control"> 
				</div>
			</div>
			
			<div class="row mt-3">
				<div class="col-3 text-right">Password:</div>
				<div class="col-9">
					<input type="password" name="password" class="form-control"> 
				</div>
			</div>

			<div class="row mt-3">
				<div class="col-3 text-right">Reenter Password:</div>
				<div class="col-9">
					<input type="password" name="copypassword" class="form-control"> 
				</div>
			</div>

			<div class="row mt-4">
				<div class="offset-4 col-2">

					<input type="submit" value="Submit">
				</div>
			</div>
		</form>
	</div>

</body>
</html>