<div class="container shadow-lg mt-5 pt-3 pb-3 rounded background">

    <div class="row mt-5">
        <div class="col-12 text-center">
            Your approval has been registered for the operation is being performed
        </div>
        <div class="col-12 text-center">
            and both you and the requestor will shortly receive an email.
        </div>
    </div>

    <div class="row my-5">
        <div class="col-12 text-center">
            <a [routerLink]="['/landingpage']">Return to dashboard</a>
        </div>

    </div>

</div>